Repository CometTools/Packages: changes, and which Codecov flags are due for each by the changed paths.
All: wake_on_lan, tautulli

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
      wake_on_lan:
        target: auto
        flags:
          - wake_on_lan
      tautulli:
        target: auto
        flags:
          - tautulli
    patch: off
    changes: off
flags:
  wake_on_lan:
    paths:
      - packages/wake_on_lan
    carryforward: true
  tautulli:
    paths:
      - packages/tautulli
    carryforward: true

[tautulli] Add additional tests
  packages/tautulli/test/http_adapter_test.dart
Due: tautulli

[wake_on_lan] Fixed typos in README.md
  packages/wake_on_lan/CHANGELOG.md
  packages/wake_on_lan/README.md
  packages/wake_on_lan/pubspec.yaml
Due: wake_on_lan

[Cleanup] Remove temp.txt files
  packages/tautulli/temp.txt
  packages/wake_on_lan/temp.txt
Due: wake_on_lan, tautulli

[tautulli] Created core HTTP client
  packages/tautulli/example/main.dart
  packages/tautulli/lib/src/core.dart
  packages/tautulli/lib/src/http_adapter.dart
  packages/tautulli/lib/tautulli.dart
  packages/tautulli/pubspec.yaml
  packages/tautulli/test/core_test.dart
  packages/tautulli/test/http_adapter_test.dart
Due: tautulli

[Codecov] Updated coverage configuration
  .github/workflows/tautulli.yml
  .github/workflows/wake_on_lan.yml
  codecov.yml
Due: none

[arnold, get_activity] Implemented arnold, skeleton for get_activity]
  packages/tautulli/example/main.dart
  packages/tautulli/lib/src/commands/activity.dart
  packages/tautulli/lib/src/commands/activity/get_activity.dart
  packages/tautulli/lib/src/commands/activity/models/activity.dart
  packages/tautulli/lib/src/commands/miscellaneous.dart
  packages/tautulli/lib/src/commands/miscellaneous/arnold.dart
  packages/tautulli/lib/src/connection.dart
  packages/tautulli/lib/src/core.dart
  packages/tautulli/lib/tautulli.dart
  packages/tautulli/test/connection_test.dart
  packages/tautulli/test/core_test.dart
Due: tautulli

[wake_on_lan] Tweaked comments
  packages/wake_on_lan/example/main.dart
  packages/wake_on_lan/test/wake_on_lan_test.dart
Due: wake_on_lan

[Semantics] Cleanup, renaming, etc.
  packages/tautulli/example/main.dart
  packages/tautulli/lib/src/commands/activity.dart
  packages/tautulli/lib/src/commands/miscellaneous.dart
  packages/tautulli/lib/src/tautulli.dart
  packages/tautulli/lib/tautulli.dart
  packages/tautulli/test/connection_test.dart
Due: tautulli

[README] README updates
  packages/tautulli/README.md
  packages/tautulli/lib/src/commands/activity/models/activity.dart
  packages/tautulli/lib/src/models/activity.dart
  packages/tautulli/lib/src/models/session.dart
  packages/tautulli/lib/tautulli.dart
  packages/tautulli/pubspec.yaml
Due: tautulli

[tautulli] v0.0.1-pre.2
  packages/tautulli/CHANGELOG.md
  packages/tautulli/pubspec.yaml
Due: tautulli

[tautulli] Core HTTP client implementation (#2)
  packages/tautulli/CHANGELOG.md
  packages/tautulli/README.md
  packages/tautulli/example/main.dart
  packages/tautulli/lib/src/commands/activity.dart
  packages/tautulli/lib/src/commands/activity/get_activity.dart
  packages/tautulli/lib/src/commands/miscellaneous.dart
  packages/tautulli/lib/src/commands/miscellaneous/arnold.dart
  packages/tautulli/lib/src/core.dart
  packages/tautulli/lib/src/models/activity.dart
  packages/tautulli/lib/src/models/session.dart
  packages/tautulli/lib/src/tautulli.dart
  packages/tautulli/lib/tautulli.dart
  packages/tautulli/pubspec.yaml
  packages/tautulli/test/connection_test.dart
Due: tautulli

[tautulli] Implemented update API call
  packages/tautulli/README.md
  packages/tautulli/example/main.dart
  packages/tautulli/lib/src/commands/activity.dart
  packages/tautulli/lib/src/commands/miscellaneous.dart
  packages/tautulli/lib/src/commands/system.dart
  packages/tautulli/lib/src/commands/system/update.dart
  packages/tautulli/lib/src/tautulli.dart
  packages/tautulli/lib/tautulli.dart
Due: tautulli

[tautulli] Removed example temporarily
  packages/tautulli/example/main.dart
Due: tautulli

[Libraries] Improved library structure, separate models and commands
  packages/tautulli/.gitignore
  packages/tautulli/README.md
  packages/tautulli/example/main.dart
  packages/tautulli/lib/commands.dart
  packages/tautulli/lib/models.dart
  packages/tautulli/lib/src/commands/activity.dart
  packages/tautulli/lib/src/commands/activity/get_activity.dart
  packages/tautulli/lib/src/commands/miscellaneous.dart
  packages/tautulli/lib/src/commands/system.dart
  packages/tautulli/lib/src/commands/system/update.dart
  packages/tautulli/lib/src/commands/system/update_check.dart
  packages/tautulli/lib/src/models/activity.dart
  packages/tautulli/lib/src/models/session.dart
Due: tautulli

[tautulli] Implemented 'update_check' command
  README.md
  packages/tautulli/lib/commands.dart
  packages/tautulli/lib/src/commands/system/update_check.dart
  packages/tautulli/lib/tautulli.dart
Due: tautulli

[Types] Added TautulliMediaType
  packages/tautulli/lib/commands.dart
  packages/tautulli/lib/models.dart
  packages/tautulli/lib/src/types/media.dart
  packages/tautulli/lib/tautulli.dart
  packages/tautulli/lib/types.dart
Due: tautulli

[tests] Added test for TautulliMediaType
  packages/tautulli/test/tautulli_test.dart
  packages/tautulli/test/types/media_test.dart
Due: tautulli

[tautulli] v0.0.1-pre.3
  packages/tautulli/CHANGELOG.md
  packages/tautulli/README.md
  packages/tautulli/pubspec.yaml
Due: tautulli

[tautulli] Implemented 'update' & 'update_check' (#3)
  README.md
  packages/tautulli/.gitignore
  packages/tautulli/CHANGELOG.md
  packages/tautulli/README.md
  packages/tautulli/example/main.dart
  packages/tautulli/lib/commands.dart
  packages/tautulli/lib/models.dart
  packages/tautulli/lib/src/commands/activity.dart
  packages/tautulli/lib/src/commands/activity/get_activity.dart
  packages/tautulli/lib/src/commands/miscellaneous.dart
  packages/tautulli/lib/src/commands/system.dart
  packages/tautulli/lib/src/commands/system/update.dart
  packages/tautulli/lib/src/commands/system/update_check.dart
  packages/tautulli/lib/src/models/activity.dart
  packages/tautulli/lib/src/models/session.dart
  packages/tautulli/lib/src/tautulli.dart
  packages/tautulli/lib/src/types/media.dart
  packages/tautulli/lib/tautulli.dart
  packages/tautulli/lib/types.dart
  packages/tautulli/pubspec.yaml
  packages/tautulli/test/tautulli_test.dart
  packages/tautulli/test/types/media_test.dart
Due: tautulli

Fully test TautulliMediaType
  packages/tautulli/test/types/media_test.dart
Due: tautulli

Moved file
  packages/tautulli/test/src/types/media_test.dart
Due: tautulli

Implemented terminate_session and restart
  packages/tautulli/README.md
  packages/tautulli/lib/commands.dart
  packages/tautulli/lib/src/commands/activity.dart
  packages/tautulli/lib/src/commands/activity/terminate_session.dart
  packages/tautulli/lib/src/commands/system.dart
  packages/tautulli/lib/src/commands/system/restart.dart
Due: tautulli

[tautulli] Implemented 'terminate_session' & 'restart' (#4)
  packages/tautulli/README.md
  packages/tautulli/lib/commands.dart
  packages/tautulli/lib/src/commands/activity.dart
  packages/tautulli/lib/src/commands/activity/terminate_session.dart
  packages/tautulli/lib/src/commands/system.dart
  packages/tautulli/lib/src/commands/system/restart.dart
  packages/tautulli/test/src/types/media_test.dart
Due: tautulli

[tests] Test for arnold
  packages/tautulli/test/src/commands/miscellaneous/arnold_test.dart
Due: tautulli

[tests] Test for system.updateCheck
  packages/tautulli/test/src/commands/system/update_check_test.dart
Due: tautulli

[tautulli] Updated workflow
  .github/workflows/tautulli.yml
Due: none

[tautulli] Implemented additional tests (#5)
  .github/workflows/tautulli.yml
  packages/tautulli/test/src/commands/miscellaneous/arnold_test.dart
  packages/tautulli/test/src/commands/system/update_check_test.dart
Due: tautulli

[tautulli] v0.0.1-pre.4
  packages/tautulli/CHANGELOG.md
  packages/tautulli/lib/src/commands/system/update.dart
  packages/tautulli/pubspec.yaml
Due: tautulli

[wake_on_lan] v1.1.0+5
  packages/wake_on_lan/CHANGELOG.md
  packages/wake_on_lan/README.md
  packages/wake_on_lan/pubspec.yaml
Due: wake_on_lan

[wake_on_lan] Updated pubspec.yaml
  packages/wake_on_lan/CHANGELOG.md
  packages/wake_on_lan/pubspec.yaml
Due: wake_on_lan

[tautulli] Updated README, pubspec to reference Comet.Tools
  packages/tautulli/CHANGELOG.md
  packages/tautulli/README.md
  packages/tautulli/pubspec.yaml
Due: tautulli

[README] LunaTools -> Comet.Tools
  README.md
Due: none

[README] Updated remaining LunaTools -> Comet.Tools
  README.md
  packages/wake_on_lan/lib/wake_on_lan.dart
Due: wake_on_lan

Updated README
  packages/tautulli/README.md
Due: tautulli

[restart] Use curly braces to satisfy Dart analyzer
  README.md
  packages/tautulli/lib/src/commands/system/restart.dart
Due: tautulli

[tautulli] backup_config & backup_db commands
  packages/tautulli/README.md
  packages/tautulli/lib/commands.dart
  packages/tautulli/lib/src/commands/system.dart
  packages/tautulli/lib/src/commands/system/backup_config.dart
  packages/tautulli/lib/src/commands/system/backup_db.dart
Due: tautulli

[tests] Add tests for backup_config & backup_db
  packages/tautulli/test/src/commands/system/backup_config_test.dart
  packages/tautulli/test/src/commands/system/backup_db_test.dart
Due: tautulli

[tautlli] v0.0.1-pre.6
  packages/tautulli/CHANGELOG.md
  packages/tautulli/pubspec.yaml
Due: tautulli

[tautulli] v0.0.1-pre.6 (#6)
  README.md
  packages/tautulli/CHANGELOG.md
  packages/tautulli/README.md
  packages/tautulli/lib/commands.dart
  packages/tautulli/lib/src/commands/system.dart
  packages/tautulli/lib/src/commands/system/backup_config.dart
  packages/tautulli/lib/src/commands/system/backup_db.dart
  packages/tautulli/pubspec.yaml
  packages/tautulli/test/src/commands/system/backup_config_test.dart
  packages/tautulli/test/src/commands/system/backup_db_test.dart
Due: tautulli
